:root {
    --bg-body: #f4f4f4;
    --bg-container: #fff;

    --clr-primary:#4CAF50;
    --clr-secondary:#FF5722;
    --clr-background:#f4f4f4;
    --clr-text:#333;

    --clr-muted: #888;
    --clr-playing: #FF5722;
    --clr-gold: #ffd700;
    
    --clr-border: #ddd;

    --pd: 2rem;
    --pd-sm: 1rem;
    --pd-xs: 0.5rem;

    --gap: 2rem;
    --gap-sm: 1rem;
    --gap-xs: 0.5rem;
    --gap-xxs: 0.25rem;

    --border-radius: 1rem;
    --border-radius-xs: 0.5rem;
    --border-radius-xxs: 0.25rem;
    

    --max-width: 45rem;

    --font-size-base: 16px;
    --font-size-h1: 2rem;
    --font-size-h2: 1.5rem;
    --font-size-p: 1rem;
    --font-size-125: 1.125rem;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: var(--pd);
    background-color: var(--bg-body);
    color: var(--clr-text);
}

.container {
    max-width: var(--max-width);
    margin: auto;
    background: var(--bg-container);
    padding: var(--pd);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
}

/* Spacing between direct children of container */
.container > *+* {
    margin-top: 1.5rem;
}

h1 {
    font-size: var(--font-size-h1);
    color: #333;
}

h2 {
    font-size: var(--font-size-h2);
    color: #555;
    text-align: center;
    margin-bottom: var(--gap-sm);
}

p {
    font-size: var(--font-size-p);
    line-height: 1.6;
    color: #666;
}

.app {
    display: flex; 
    flex-direction: column;
    gap: var(--gap);


    /* msg when not playing */
    .not-playing {
        padding: var(--pd);
        margin: 0 auto;
        font-style: italic;
    }

    .now-playing {
        display: flex;
        align-items: center;
        gap: var(--gap);
        padding: var(--pd-sm);
        background: var(--clr-background);
        border-radius: var(--border-radius-xs);
        border: 1px solid var(--clr-border);
    }

    .now-playing-cover {
        width: 250px;
        height: 250px;
        border-radius: var(--border-radius);
        object-fit: cover;
        border: 8px solid var(--clr-border);
    }

    .now-playing-title {
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: var(--gap-xs);
    }

    .now-playing-artist {
        color: var(--clr-muted);
    }

    .now-playing-duration {
        color: var(--clr-muted);
        margin-top: var(--gap);
    }

    .now-playing-favorite {
        display: block;
        margin-top: var(--gap);
        color: var(--clr-muted);
        
        i {
            color: var(--clr-gold);
            
            filter: drop-shadow(0 0 0.5rem var(--clr-gold));
        }
    }
    
}

.app-playlist {
    padding: 0;
    margin: 0;

    border: 1px solid var(--clr-border);
    border-radius: var(--border-radius-xs);
    padding: var(--pd);

    .song-cover {
        display: block;
        width: 100px;
        height: 100px;
        border-radius: var(--border-radius-xs);
    }

    .song-details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--gap-sm);
        
    }

    .song-meta {
        display: flex;
        flex-direction: column;
        gap: var(--gap-xxs);
    }


    .play-btn {
        padding: var(--pd-sm);
        background-color: var(--clr-primary);
        color: white;
        border: none;
        border-radius: var(--border-radius-xs);
        cursor: pointer;
    }

    .song-container {
        display: grid;
        grid-template-columns: 100px 1fr; /* cover 100px, rest song info */
        gap: var(--gap-sm);
        padding: var(--pd-sm);
        border-bottom: 1px solid var(--clr-border);

        &:hover {
            background-color: #f9f9f9;
        }
    }

    /* Marked as favorite */
    .fa-star {
        color: gold;
        filter: drop-shadow(0 0 0.5rem var(--clr-gold));
    }

}

.timeline-container {
    display: flex;
    align-items: center;
    gap: var(--gap-sm);
}

.progress-bar {
    flex: 1; /* grow to contaner width */
    height: 1px;
    background: var(--clr-primary);
    cursor: pointer;
    appearance: none;
}

.current-time, .total-time {
    color: var(--clr-muted);
}

.app-controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
    color: #444;

    i {
        cursor: pointer;

        &:hover {
            color: #000;
            transition: color 0.5s;
        }
    }

    .playing {
        color: var(--clr-playing);
        transition: color 0.5s;
        &:hover {
            color: var(--clr-playing);
        }
    }

    .paused {
        color: var(--clr-playing);
        &:hover {
            color: var(--clr-playing);
        }
    }
}

